$a-main: #06000a;
$a-dark: #300032;
$a-add1: #c43235;
$a-light: #e6e6e8;

$main-color-red: rgb(231, 76, 60);
$main-color-gray: darken(rgb(200, 200, 200),75%);

$main-color-light: $a-light;
$main-additional: $a-add1;
$main-color: $main-color-gray;
$main-color-dark: darken($main-color, 10%);

$transparency-level: 0.7;

$main-color-transparent: rgba($main-color, $transparency-level);
$main-color-transparent-dark: rgba($main-color-dark, $transparency-level);

$font-family: 'Roboto';

.err-info {
    display: none;
    background-image: initial;
    background-color: $main-color-red;
    color: $a-light;
}

.btn-default {
    background-color: $main-additional;
}

body {
    background: linear-gradient(rgba($main-color-dark,0.0), rgba($main-color-dark,0.8), $main-color-dark), url(../../images/thumb-1920-400733.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-family;
}

/// BUTTON
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.custom-btn {
    @include button-variant($main-color-light, $a-dark, $main-color-light);
}

/// NAVBAR
$bgDefault      : $main-color;
$bgHighlight    : $main-color-light;
$colDefault     : $main-color-light;
$colHover       : $main-additional;

.navbar-inverse {
    background-image: initial !important;
    background-color: $bgDefault;
    border-color: $bgHighlight;

    .navbar-brand {
        color: $colDefault;

        &:hover, &:focus {
            color: $colHover;
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: $colDefault;

                &:hover, &:focus {
                    color: $colHover;
                }
            }
        }

        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
            }
        }

        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;

                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover;
                }
            }
        }

        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault;
                }

                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover;
                    }
                }
            }
        }
    }

    .navbar-toggle {
        border-color: $bgHighlight;

        &:hover, &:focus {
            background-color: $bgHighlight;
        }

        .icon-bar {
            background-color: $colDefault;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;

        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight;
        }
    }
}
